<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
</script>
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<div class="container is-fullhd">
    <div class="notification">
        <div class="card">
            <div class="card-content">
                <p class="title">Bienvenido a "Just Enjoy" </p>
                <p class="subtitle">Ingrese sus datos:</p>
            </div>
        </div>
            <body>
                <form method = "post" action = "/proyecto/create">
                    <table>
                        <tr>
                            <div class="field">
                                <label class="label">Nombre</label>
                                <div class="control">
                                     <input type = "text" name = "nom"> 
                                </div>  
                        </tr>
                        <tr>
                            <div class="field">
                                <label class="label">Correo</label>
                                <div class="control">
                                     <input type = "text" name = "correo"> 
                                </div>  
                        </tr>
                        <tr>
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control">
                                     <input type = "text" name = "pasw"> 
                                </div>  
                        </tr>
                        <tr>
                            <div class="field">
                                <label class="label">Telefono</label>
                                <div class="control">
                                     <input type = "text" name = "telf"> 
                                </div>  
                        </tr>
                        <tr>
                            <div class="field">
                                <button class="button is-success">Registrar</button>
                            </div>
                        </tr>
                    </table>
                </form>
            </body>
        </div>
    </div>
</div>
