<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
</script>
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<body>
<div class="container is-fluid">
<section class="Tienda de Ropa">
    <div class="card">
        <div class="card-content">
            <p class="title">Bienvenido a "Just Enjoy CTMRE "</p>
            <p class="subtitle">Ingrese sus datos:</p>
        </div>
    </div>
    <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
            <input class="input" type="text">
        </div>
    </div>
    <div class="field">
        <label class="label">Descripcion</label>
    <div class="control">
            <textarea class="input" type="text"></textarea>
        </div>
    </div>
    <div class="field">
        <button class="button is-success">Registrar</button>
    </div>
</section>
</div>
</body>